# SPDX-FileCopyrightText: 2017-2025 Contributors to the OpenSTEF project <short.term.energy.forecasts@alliander.com> # noqa E501>
# SPDX-License-Identifier: MPL-2.0

# Core
config.user.yaml
git-template
.DS_Store
tmp

# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Packaging and build artifacts
.Python
build/
dist/
downloads/
wheels/
share/python-wheels/
sdist/
.eggs/
*.egg-info/
*.egg
.installed.cfg
MANIFEST

# uv
.uv/

# Ruff
.ruff_cache/

# Pyright
.pyright/
# pyright-report/

# Test, coverage, tox
.pytest_cache/
.coverage
.coverage.*
htmlcov/
.cover/
cover/
pytest-report.xml
.tox/
.nox/
coverage.xml

# Hypothesis
.hypothesis/

# Cython
cython_debug/

# Type checkers (misc)
.mypy_cache/
.dmypy.json
dmypy.json
.pytype/
.pyre/

# Sphinx
docs/_build/
docs/source/api/generated/

# docs/_doctrees/
# docs/_static_gen/

# Editors: JetBrains
.idea/

# Editors: VS Code (allow shared configs)
.vscode/*

# Jupyter / IPython
.ipynb_checkpoints
profile_default/
ipython_config.py

# Spyder / Rope
.spyderproject
.spyproject
.ropeproject

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# PEP 582
__pypackages__/

# web frameworks / services
*.sqlite
*.sqlite3
*.log
instance/
.webassets-cache
celerybeat-schedule
celerybeat.pid
*.sage.py
tmp/

# PyInstaller
*.manifest
*.spec

# Project outputs
output/
prof/
certificates/

# Output artifacts
*.html
*.pkl

# Benchmark results
benchmark_results/
