# SPDX-FileCopyrightText: 2017-2023 Contributors to the OpenSTEF project <korte.termijn.prognoses@alliander.com> # noqa E501>
#
# SPDX-License-Identifier: MPL-2.0

holidays==0.21
lightgbm~=3.3
matplotlib~=3.7
mlflow~=2.3
networkx~=3.1
optuna~=3.1
pandas~=2.0
plotly~=5.14
pvlib==0.9.4
pydantic~=1.10
pymsteams~=0.2.2   # TODO remove teams dependency
scikit-learn~=1.2
scipy~=1.10
statsmodels~=0.13
structlog~=23.1
xgboost~=1.7
