# SPDX-FileCopyrightText: 2017-2023 Contributors to the OpenSTEF project <korte.termijn.prognoses@alliander.com> # noqa E501
#
# SPDX-License-Identifier: MPL-2.0
name: Deploy Sphinx documentation to Pages

# Runs on pushes targeting the default branch
on:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/setup-python@v2
    - uses: actions/checkout@master
      with:
        fetch-depth: 0 # otherwise, you will fail to push refs to dest repo

    # Setup python version
    - uses: actions/setup-python@v4
      with:
        python-version: '3.9'
    # Run pre-build command
    - run: |
        cp requirements.txt docs/requirements.txt &&\
        printf "\npydata-sphinx-theme==0.12.0\n" >> docs/requirements.txt &&\
        printf "\njinja2==3.0.0\n" >> docs/requirements.txt &&\
        printf "\nsphinx_autodoc_typehints==1.19.4\n" >> docs/requirements.txt &&\
        printf "\nmkdocs==1.2.3\n" >> docs/requirements.txt &&\
        pip install -r docs/requirements.txt &&\
        sphinx-apidoc -o docs openstef

    - name: Build and commit
      uses: sphinx-notes/pages@v2
      with:
        requirements_path: ./docs/requirements.txt

    - name: Push changes
      uses: ad-m/github-push-action@master
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        branch: gh-pages
