# SPDX-FileCopyrightText: 2017-2022 Contributors to the OpenSTEF project <korte.termijn.prognoses@alliander.com> # noqa E501
#
# SPDX-License-Identifier: MPL-2.0
name: Docs Publish

on:
  - release

jobs:
  docs:

    runs-on: ubuntu-latest

    steps:
    # Checkout
    - name: Checkout code
      uses: actions/checkout@v2
    # Run Apidoc and subsequently build documentation (implicit in action).
    - name: Build documentation
      uses: ammaraskar/sphinx-action@master
      with:
        pre-build-command: |
          cp requirements.txt docs/requirements.txt &&\
          printf "\nsphinx_rtd_theme\n" >> docs/requirements.txt &&\
          printf "\njinja2==3.0.0\n" >> docs/requirements.txt &&\
          printf "\nmkdocs==1.2.3\n" >> docs/requirements.txt &&\
          sphinx-apidoc -o docs openstef
        docs-folder: "docs/"
    # Upload artifact so it is available from the action-window
    - name: Upload artifact
      uses: actions/upload-artifact@v1
      with:
        name: html-documentation
        path: docs/_build/html/
    # Commit documentation changes to the gh-pages branch
    - name: Commit documentation changes
      run: |
        git clone https://github.com/OpenSTEF/openstef.git --branch gh-pages --single-branch gh-pages
        cp -r docs/_build/html/* gh-pages/
        cd gh-pages
        touch .nojekyll
        git config --local user.email "action@github.com"
        git config --local user.name "GitHub Action"
        git add .
        git commit -m "Update documentation" -a || true
        # The above command will fail if no changes were present, so we ignore
        # that.
    # Push changes (will publish documentation)
    - name: Push changes
      uses: ad-m/github-push-action@master
      with:
        branch: gh-pages
        directory: gh-pages
        github_token: ${{ secrets.GITHUB_TOKEN }}
