# SPDX-FileCopyrightText: 2017-2022 Contributors to the OpenSTEF project
#
# SPDX-License-Identifier: MPL-2.0
name: Docs Check

# Check docs when directly editing develop or main
# and on pull request
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - "**"

jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
    # Checkout
    - name: Checkout code
      uses: actions/checkout@v2
    # Build documentation
    - name: Build documentation
      uses: ammaraskar/sphinx-action@master
      with:
        pre-build-command: |
          cp requirements.txt docs/requirements.txt &&\
          printf "\pydata-sphinx-theme==0.8.1\n" >> docs/requirements.txt &&\
          printf "\njinja2==3.0.0\n" >> docs/requirements.txt &&\
          printf "\nsphinx_autodoc_typehints==1.19.4\n" >> docs/requirements.txt &&\
          printf "\nmkdocs==1.2.3\n" >> docs/requirements.txt &&\
          sphinx-apidoc -o docs openstef
        docs-folder: "docs/"
