# SPDX-FileCopyrightText: 2017-2023 Contributors to the OpenSTEF project
#
# SPDX-License-Identifier: MPL-2.0
name: Docs Check

# Check docs when directly editing develop or main
# and on pull request
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - "**"

jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
    # Checkout
    - name: Checkout code
      uses: actions/checkout@v2

      # Setup python version
    - uses: actions/setup-python@v4
      with:
        python-version: '3.9'

    # Build documentation
    - name: Build documentation
      run: |
          cp requirements.txt docs/requirements.txt &&\
          printf "\npydata-sphinx-theme==0.12.0\n" >> docs/requirements.txt &&\
          printf "\njinja2==3.0.0\n" >> docs/requirements.txt &&\
          printf "\nsphinx_autodoc_typehints==1.19.4\n" >> docs/requirements.txt &&\
          printf "\nmkdocs==1.2.3\n" >> docs/requirements.txt &&\
          pip install -r docs/requirements.txt &&\
          sphinx-apidoc -o docs openstef
