# SPDX-FileCopyrightText: 2017-2023 Contributors to the OpenSTEF project <openstef@lfenergy.org> # noqa E501
#
# SPDX-License-Identifier: MPL-2.0
name: Python Upload Package

on:
  - release

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: release
    if: startsWith(github.event.release.tag_name, 'v3.')
    permissions:
      # IMPORTANT: this permission is mandatory for trusted publishing
      id-token: write
    steps:
    # Checkout
    - name: Checkout code
      uses: actions/checkout@v4
    # Setup
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.x'
    # Install (packaging) dependencies
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install setuptools wheel twine
    # Build and publish
    - name: Build
      run: python setup.py sdist bdist_wheel
    - name: Publish
      uses: pypa/gh-action-pypi-publish@release/v1
