# SPDX-FileCopyrightText: 2017-2023 Contributors to the OpenSTEF project <korte.termijn.prognoses@alliander.com> # noqa E501
#
# SPDX-License-Identifier: MPL-2.0
name: REUSE Compliance Check

on:
  - push

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    # Checkout
    - name: checkout
      uses: actions/checkout@v4
    # Reuse
    - name: REUSE Compliance Check
      uses: fsfe/reuse-action@v1
